name: Cleanup Images

on:
  workflow_dispatch:

jobs:
  cleanup:
    runs-on: ubuntu-latest
    permissions:
      packages: write
    steps:
      - name: Delete old untagged images
        uses: dataaxiom/ghcr-cleanup-action@v1
        with:
          packages: ice-launcher
          delete-untagged: true
          older-than: 3 months
          dry-run: true
